.container {
  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3rem 10vw;

    .content {
      .heading {
        font-size: 3rem;
        margin-bottom: 0;
      }

      .text {
        font-weight: 500;
        margin: 1.5rem 0 3rem;
      }
    }

    .form {
      padding: 0 5rem;
      display: grid;
      place-items: center;

      .input-group {
        position: relative;
        display: flex;
        flex-direction: column-reverse;

        &:not(:first-child) {
          margin-top: 1rem;
        }

        input {
          background-color: inherit;
          color: #000;
          font-size: 1em;
          padding: 10px 10px;
          border: none;
          border: 2px solid #d3d3d3;
          border-radius: 5px;
          width: 300px;
          outline: none;
          transition: 0.3s all ease;

          &::placeholder {
            opacity: 0;
          }

          &:focus,
          &:not(:placeholder-shown) {
            border-color: var(--primary-clr);

            & ~ label {
              transform: translate(10px, -33px) scale(0.9);
              color: var(--primary-clr);
              padding: 0 5px;
              font-weight: 500;
            }
          }
        }

        label {
          position: absolute;
          padding: 0 20px;
          margin-bottom: 2px;
          color: darkgray;
          background-color: #fff;
          transform: translate(4px, -11px) scale(1.02);
          transform-origin: left top;
          cursor: pointer;
          transition: 0.3s all ease;
        }

        button {
          padding: 10px 30px;
          background-color: var(--primary-clr);
          border: 2px solid var(--primary-clr);
          border-radius: 4px;
          font-weight: 500;
          font-size: 0.9rem;
          width: min-content;
          white-space: nowrap;
          color: #fff;
          cursor: pointer;
          transition: 0.3s all ease;
        }
      }
    }
  }
}
